{% extends 'news/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if no_user %}
{{ no_user }}
{% endif %}
<h2>Login</h2>
<form action="/login" method="post" id="login_form" style="border:0.5px solid #00BFFF;padding:10px;">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <button class="btn btn-info" type="submit">Login</button>

</form>
{% endblock %}
