{% extends 'news/base.html' %}

{% block title %}signup{% endblock %}

{% block content %}
<div class="container">

<form action="/signup" method="post">
  {% csrf_token %}
  {%for field in form %}

  <div class="form-group">
    <div class="form-text text-muted"> {{ field.errors }}</div>
    <div class="col-form-label">{{ field.label_tag }}</div> {{ field }}
    {% if field.help_text%}
    <p class="form-text text-muted">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>

  {% endfor %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

{% endblock %}
