{% extends 'news/base.html' %}

{% block title %}profile{% endblock %}

{% block content %}
<div class="row">
<h2>User update profile view</h2>
{%if user%}
{{user}}
{%endif%}
<p></p>
{%if saved%}
{{saved}}
{%endif%}


<form action="/user/update" method="post">
{% csrf_token %}
{%for field in form %}

<div class="form-group">
  <div class="form-text text-muted"> {{ field.errors }}</div>
  <div class="col-form-label">{{ field.label_tag }}</div> <div class="form-control">{{ field }}</div>
  {% if field.help_text%}
  <p class="form-text text-muted">{{ field.help_text|safe }}</p>
  {% endif %}
</div>

{% endfor %}
<button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>

{% endblock %}
